<div class="black_layer"></div>
<div class="content_and_background chart_page">
  <div class="page_background">
    <%= page_background_asset(page) %>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
  </div>

  <div class="content">
    <div class="iframeWrapper">
      <%= scraped_site_iframe(configuration['scraped_site_id']) %>
      <%= third_party_embed_opt_in(
            entry: entry,
            vendor_name: 'datawrapper',
            message: t('pageflow.public.chart.opt_in_prompt')
          ) %>
      <div class="iframe_overlay"></div>
      <div class="bigscreen_toggler" tabindex="4" title="<%= t('pageflow.public.chart.toggle') %>"><%= t('pageflow.public.chart.toggle') %></div>
      <div class="opt_out_wrapper">
        <%= third_party_embed_opt_out_info(entry) %>
      </div>
    </div>
    <div class="scroller">
      <div>
        <div class="content_wrapper">
          <%= page_default_content(page) %>
        </div>
      </div>
    </div>
  </div>
</div>
